<!DOCTYPE html>
<html>
<head>
    <title>تبدیل متن دفترخونه</title>
</head>
<body>
    <h2>متن ورودی:</h2>
    <form action="/" method="post" autocomplete="on">
        <textarea type="text" name="text" rows="5" cols="30" id="input" autofocus placeholder="متن خود را وارد کنید..." autocomplete="on">{{ original_text }}</textarea>
        <button type="submit">تبدیل</button>
        <button type="button" onclick="clearText()">پاک</button>

    </form>

    <h2>متن خروجی:</h2>
    <form>
        <textarea type="text" id="output" rows="5" cols="30">{{ result_text }}</textarea>
        <button type="button" onclick="copyToClipboard()">کپی</button>
    </form>

    <script>
        function copyToClipboard() {
            var inputElement = document.getElementById("output");
            inputElement.select();
            document.execCommand("copy");
        }

        function clearText() {
            document.getElementById("input").value = "";
        }
    </script>
</body>
</html>
